.env
.env.dev
.env.prod
.vscode
.coverage
.venv
.idea
*.sqlite3
*__pycache__*
*.log
*.pot
*.pyc
**/.DS_STORE
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
media
*.pub
docean
celerybeat-schedule
