h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Mono', monospace;
  /* letter-spacing: 1px; */
  text-transform: capitalize;
}


.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'IBM Plex Mono', monospace;
  /* letter-spacing: 1px; */
  text-transform: capitalize;
}
