@font-face {
  font-family: 'JetBrainsMono-Variable';
  src: url('./fonts/JetBrainsMono-Variable.woff2') format('woff2'),
    url('./fonts/JetBrainsMono-Variable.woff') format('woff'),
    url('./fonts/JetBrainsMono-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMono-VariableItalic';
  src: url('./fonts/JetBrainsMono-VariableItalic.woff2') format('woff2'),
    url('./fonts/JetBrainsMono-VariableItalic.woff') format('woff'),
    url('./fonts/JetBrainsMono-VariableItalic.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Quilon-Variable';
  src: url('./fonts/Quilon-Variable.ttf') format('truetype');
  font-weight: 400 800;
  font-display: swap;
  font-style: normal;
}
